body {
    background-color: black;
}

#aboutMe {
    padding-top: 2%;
    color: #E34234;
}

#profPicContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 400px;
    height: 100%;
}

#profPic {
    width: 100%;
    height: auto;
    filter: drop-shadow(7px 7px 3px whitesmoke);
}

#description {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #c9b1a6;
    text-align: justify;
}

#projectsLink:hover {
    color: #E34234;
}

#projectsLink {
    text-decoration: none;
    color: #c9b1a6;
}

#resumeLink:hover {
    color: #E34234;
}

#resumeLink {
    text-decoration: none;
    color: #c9b1a6;
}

.picCaption {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
}

.picCaption:hover {
    color: #E34234;
}

.projectIMG {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}